apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      name: {{ .Release.Name }}
  template:
    metadata:
      labels:
        name: {{ .Release.Name }}
    spec:
      volumes:
        - name: {{ .Release.Name }}
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}
        - name: {{ .Release.Name }}-config-vol
          configMap:
            name: {{ .Release.Name }}-config
        - name: {{ .Release.Name }}-timezone
          hostPath:
            path: /usr/share/zoneinfo/{{ .Values.env.TZ }}
            type: File
      containers:
        - name: application
          image: ghcr.io/alexpresso/judy-discord-bot:0.33.0
          imagePullPolicy: IfNotPresent
          env:
            - name: TZ
              value: {{ .Values.env.TZ }}
          resources:
{{- toYaml .Values.resources | nindent 12 }}

          volumeMounts:
            - name: {{ .Release.Name }}-config-vol
              mountPath: /opt/app/config.json
              subPath: config.json
            - name: {{ .Release.Name }}
              mountPath: /opt/app/data
            - name: {{ .Release.Name }}-timezone
              mountPath: /etc/localtime
              readOnly: true
